@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
  color: #0d1117
}
.titulo{
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
  color: white;
  top: 20%;
  text-align: center
}
.subtitulo{
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  top: 30%;
  text-align: center
}
