@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

#titulo{
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    color: #c2c2d6;
    text-align: center;

}

#gl-titulo{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #b3b3cc;
}
#mail{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color:#666699;
}
