@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.title{
  font-family: 'Roboto Mono', monospace;
  color: white;
  text-align: center;
  font-size: 40px;
}
.twitter{
  font-family: 20px;
  color: white;
}
body{
  color: #000;
}
.twitter:visited{
  color: white;
  font-size: 20px
}
