@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


.stitulo{
  color: white;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;  
  
}
.social1{
  color: white;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  margin-top: 10px;


}
